.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f0f2f5;
}

.card{
    width:380px;
    padding:35px;
    background:white;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    text-align:center;
}

.title{
    margin-bottom:25px;
    font-size:22px;
}

.input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:14px;
}

.input:focus{
    outline:none;
    border:1px solid  #32CC1A;
}

.signupBtn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background: #32CC1A;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.signupBtn:hover{
    background: #32CC1A;
}